.ui.grid > .row {
	align-items: center;
	justify-content: center;
	width: 100%;
}

.ui.grid > .row > .column {
	text-align: center;
}

p {
	font-size: 2rem;
}

.ui.grid>.row {
	align-items: center;
}

h1{
	width: 100%;
	text-align: center;

}